.container {
    padding: 9rem 0;
    background-color: #F1FAFD;
    position: relative;
    margin-top: -15rem;
}

.container h2 {
    font-size: 7rem;
    text-shadow: 6px 6px #3fcfd4a2;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #383435; 
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 30px;
    justify-items: center;
    margin-top: 4rem;
    background-image: url("../../assets/resultWaves.svg");
    background-size: 21rem;
    padding: 2rem 3rem 3rem 2rem;
}

.divider {
    position: relative;
    width: 100%;
}

.divider::after {
    width: 100%;
    height: 4px;
    bottom: -1rem;
    left: 0;
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4'%3E%3Cpath d='M10 2c3.333 2 6.667 2 10 0M0 2c3.333-2 6.667-2 10 0' stroke='%2334444c' fill='transparent'/%3E%3C/svg%3E");
    background-repeat: repeat;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.movieCard {
    height: 43rem;
    background-color: #fff;
    width: 25rem;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: 2px solid #D4D7DE;
    position: relative;
    box-shadow: 12px 12px #3fd0d4;
}

.movieThumbnail {
    height: 26rem;
    padding: 10px 10px 0;
}

.movieContent {
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    height: 10rem;
}

.movieContent *:not(:last-child) {
    margin-bottom: 1rem;
}

.movieContent p {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.movieContent h3 {
    line-height: 1.1;
}

.btnContainer {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnContainer button {
    border: 2px solid #D4D7DE;
    background-color: #fff;
    padding: 6px 50px;
    font-family: inherit;
    letter-spacing: 1px;
}

.clickedMovieCard {
    filter: grayscale(90%);
}

:global(.posterSize) {
    height: 100%;
    width: 100%;
}

/* SMALLEST (MOBILE) DEVICES (smaller than or equal to 768px) */

@media (max-width: 682px) {
    .container h2 {
        text-shadow: 5px 5px #3fcfd4a2;
    }

    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    }
    
    .movieCard {
        width: 23rem;
    }
}

@media (max-width: 614px) {
    .container h2 {
        font-size: 6rem;
    }
}

@media (max-width: 564px) {
    .movieCard {
        box-shadow: 10px 10px #3fd0d4;
    }
}

@media (max-width: 525px) {
     .movieCard {
        height: 100%;
        width: 100%;
     }

    .movieThumbnail {
        display: none;
    }

    .btnContainer {
        position: static;
        margin-bottom: 1rem;
    }
}