.container {
    margin: 4rem 0;
}

.container h2 {
    text-align: center;
    font-size: 4rem;
    color: #2b3c6b;
    letter-spacing: -2px;
}

.divider {
    position: relative;
    width: 100%;
}

.divider::after {
    width: 100%;
    height: 4px;
    bottom: -1rem;
    left: 0;
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4'%3E%3Cpath d='M10 2c3.333 2 6.667 2 10 0M0 2c3.333-2 6.667-2 10 0' stroke='%23ff685d' fill='transparent'/%3E%3C/svg%3E");
    background-repeat: repeat;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.nomineesListDesc {
    text-align: center;
    margin: 4rem 3rem 0;
    font-size: 2rem;
    line-height: 1.4;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    background-size: 21rem;
    padding: 2rem 2.5rem 2rem 2rem;
}

.movieCard {
    display: flex;
    height: 15rem;
    background-color: #fff;
    width: 100%;
    border: 2px solid #D4D7DE;
    position: relative;
    box-shadow: 8px 8px #3fd0d4;
}

.movieCard:not(:last-child) {
    margin-bottom: 20px;
}

.movieContent {
    width: 100%;
    position: relative;
}

.btnContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.btnContainer button {
    border: 2px solid #D4D7DE;
    background-color: #fff;
    padding: 6px 50px;
    font-family: inherit;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1rem;
}

.movieThumbnail {
   width: 50%;
}

.movieDesc {
    font-size: 1.5rem;
    line-height: 1.1;
    height: 60%;
    overflow: scroll;
}

.movieDesc h3 {
    padding: 0 1rem 1rem;
}

.movieDesc p {
    font-size: 1.3rem;
    background-color: hsl(220, 12%, 95%);
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 0.7rem;
}

/* MEDIUM DEVICES (greater than 992px) */

@media (max-width: 1074px) {
    .container {
        margin: 10rem 0;
    }

    .movieCard {
        height: 19rem;
        width: 100%;
    }

   .flexContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
        grid-row-gap: 10px;
        grid-column-gap: 30px;
        background-image: url("../../assets/resultWaves.svg");
        justify-items: center;
        margin-left: 3rem;
        margin-right: 3rem;
   }
}

@media (max-width: 934px) {
   .flexContainer {
       grid-template-columns: 1fr;
   }

    .movieThumbnail {
        width: 20rem;
    }
}

/* SMALLEST (MOBILE) DEVICES (smaller than or equal to 768px) */

@media (max-width: 525px) {
    .movieCard {
        height: 15rem;
    }

    .movieThumbnail {
        display: none;
    }
}

@media (max-width: 440px) {
    .container {
       margin: 10rem 0;
    }
}