.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    /* justify-content: center; */
    justify-items: center;
    margin-top: 4rem
}

.posterSize {
    height: 400px;
    width: 100%;
}