.container {
    background-color: #59D4D7;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1rem 0;
}

.container div {
    display: flex;
    height: 6.5rem;
    align-items: center;
}