nav {
    height: 64px;
    background-color: #5dbcd2;
}

h1 {
    color: white;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.container div {
    margin: 0 4rem;
    letter-spacing: 1px;
}