.container {
    margin-top: -20px;
    position: relative;
}

.searchMovieHeader {
    font-size: 7rem;
    color: #2b3c6b;
    text-align: left;
    top: -45px;
    position: absolute;
    letter-spacing: -4px;
}

.backgroundPattern {
    width: 100%;
    height: 60vh;
    background-color: #FFBDBA;
    position: relative;
    background-image: url("../../assets/diagonalWaves.svg");
    background-size: 21rem;

}

form {
    position: relative;
    display: inline-block;
    width: 60%;
}

input[type="search"] {
    width: 100%;
    height: 7rem;
    padding: 0 2rem;
    font-size: 2rem;
    border: 3px solid #59D4D7;
    font-family: 'Montserrat', sans-serif;;
}

.searchArea {
    position: relative;
    padding: 3rem 4rem;
    background-color: #fff;
    box-shadow: 16px 16px #59D4D7;
    z-index: 100;
}

.searchBtn {
    background-color: #59D4D7;
    position: absolute;
    right: 0;
    height: 100%;
    width: 9rem;
    font-size: 3rem;
    color: #fff;
}

/* LARGE DEVICES (greater than 1200px) */

@media (max-width: 1295px) {
    form {
        width: 70%;
    }
}

/* MEDIUM DEVICES (greater than 992px) */

@media (max-width: 1035px) {
    form {
        width: 100%;
    }
}

/* SMALLEST (MOBILE) DEVICES (smaller than or equal to 768px) */

@media (max-width: 614px) {
    .searchMovieHeader {
        font-size: 6rem;
        top: -38px;
    }
}

@media (max-width: 564px) {
    .backgroundPattern {
        height: 100vh;
    }

    .searchArea {
        margin: 0 2rem;
        box-shadow: 10px 10px #59D4D7;
    }
}

@media (max-width: 520px) {
    input[type="search"] {
        height: 6rem;
        font-size: 1.5rem;
        padding: 0 1.5rem;
    }

    .searchBtn {
        width: 5rem;
        font-size: 2rem;
    }
}

@media (max-width: 472px) {
    .searchMovieHeader span {
        position: relative;
        top: -1rem;
    }
}

@media (max-width: 415px) {
    .searchArea {
        padding: 3rem 3rem;
    }
}

@media (max-width: 390px) {
    input[type="search"] {
        height: 5rem;
        font-size: 1.3rem;
    }

    .searchBtn {
        width: 4rem;
        font-size: 1.5rem;
    }
}