.srOnly:not(:focus):not(:active) { 
  position: absolute;
  width: 1px; 
  height: 1px; 
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
}

.slideContent {
  margin-left: 40rem;
}

.content {
    transition: all .5s ease;
}

.fixedContainer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* MEDIUM DEVICES (greater than 992px) */

@media (max-width: 1074px) {
  .slideContent {
    margin-left: 0;
  }
}