.slideContent {
  margin-left: 40rem;
}

.content {
    transition: all .5s ease;
}

.fixedContainer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* MEDIUM DEVICES (greater than 992px) */

@media (max-width: 1074px) {
  .slideContent {
    margin-left: 0;
  }
}