.container {
    width: 100%;
    background-color: #2b3c6b;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 101;
}

.container p {
    font-weight: 600;
    color: #fff;
}

.container span[role="button"] {
    background-color: rgba(214, 214, 214, 0.15);
    height: 100%;
    width: 3.5rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.container span[role="button"]:after {
    font-size: 1.7rem;
}

.closeBanner {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBanner:after {
    content: 'x';
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.emoji {
    margin-left: 6px;
}

/* SMALLEST (MOBILE) DEVICES (smaller than or equal to 768px) */

@media (max-width: 450px) {
    .container p {
        font-size: 1.4rem;
    }
}

@media (max-width: 383px) {
    .container p {
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    .container {
        justify-content: flex-start;
        padding-left: 3rem;
    }
}

@media (max-width: 337px) {
    .container {
        padding-left: 2.5rem;
    }
}

@media (max-width: 329px) {
    .container {
        padding-left: 1.6rem;
    }
}