.container {
    width: 100%;
    background-color: #bae3ff;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 101;
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
}

.container p { 
    font-weight: 600;
}

.container span[role="button"] {
    background-color: #8bcdfab4;
    height: 100%;
    width: 3.5rem;
    font-size: 1.7rem;
}

.container span[role="button"]:after {
    font-size: 1.7rem;
}

.closeBanner {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBanner:after {
    content: 'x';
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.emoji {
    margin-left: 6px;
}

@media (max-width: 450px) {
    .container p {
        font-size: 1.4rem;
    }
}

@media (max-width: 383px) {
    .container p {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .container {
        justify-content: flex-start;
        padding-left: 1.5rem;
    }
}